.page {
  position: absolute;
  min-width: 340px;
  width: 93%;
  height: 100%;
  left: 7%;

  overflow-y: scroll;
}

.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: #9c0c02;
  opacity: 0.6;
  position: relative;
  bottom: 0;
  left: 3%;
  font-size: 18px;
  font-family: 'La Belle Aurore';
}

.bottom-tag-html {
  margin-left: -20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 100%;
  min-height: 90%;
  margin: 0 auto;
  top: 5%;

  overflow-y: scroll;
  z-index: 1;
  transform-style: preserve-3d;
  opacity: 0;

  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  will-change: contents;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
  }

  .container > * {
    flex: 1 1 50%;
  }
}

.about-page,
.contact-page,
.project-page {
  .text-zone {
    position: relative;
    width: 100%;
    padding-inline: 1rem;
  }

  h1 {
    font-size: 53px;
    font-family: 'Coolvetica';
    color: #9c0c02;
    font-weight: 400;
    margin-block: 2rem;
    position: relative;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      font-size: 18px;
      position: absolute;
      margin-top: -10px;
      left: 10px;
      opacity: 0.6;
      line-height: 18px;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore';
      font-size: 18px;
      line-height: 18px;
      position: absolute;
      left: 10px;
      bottom: -15px;
      opacity: 0.6;
    }
  }

  p {
    font-size: 13px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    min-width: fit-content;
    animation: pulse 1s;

    &:nth-of-type(1) {
      animation-delay: 1.1s;
    }

    &:nth-of-type(2) {
      animation-delay: 1.2s;
    }
  }

  .table {
    position: relative;
  }
}

.text-animate-hover {
  &:hover {
    color: yellow;
  }
}
