.logo-container {
  position: relative;

  transform: rotateZ(30deg);
  z-index: 0;

  svg {
    width: clamp(200px, 30vw, 512px);
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .solid-logo {
    position: relative;
    max-width: 100%;
    width: clamp(200px, 30vw, 512px);
    height: auto;
    left: 50%;

    transform: translateX(-50%);
    opacity: 0;
    z-index: 1;
  }
}

.svg-container {
  stroke: #9c0c02;
  stroke-width: 10px;
}
